.top1, .top2, .mid, .bot1, .bot2 {
    position: absolute;
    height: 100%;
    width: 100%;
}
.top1{
    background-color: yellow;
    clip-path: polygon(0% 0%, 40% 0%, 0% 40%);
}

.top2{
    background-color: lightgreen;
    clip-path: polygon(40% 0, 80% 0%, 0 80%, 0 40%);
}

.mid{
    background-color: green;
    clip-path: polygon(80% 0, 100% 0, 100% 40%, 40% 100%, 0 100%, 0 80%);
}

.bot1{
    background-color: teal;
    clip-path: polygon(100% 20%, 100% 80%, 80% 100%, 20% 100%);
}

.bot2{
    background-color: blue;
    clip-path: polygon(100% 60%, 60% 100%, 100% 100%);
}

.map-display-container{
    border-style: outset;
    border-color: gray;
    position: absolute;
    height: 90%;
    width: 90%;
    top: 5%;
    left: 5%;
    background-color: darkgray;
    overflow: auto;
}

.map-display-container::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
  
.map-display-container::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 6px; 
}

.map-display-container::-webkit-scrollbar-track {
    background-color: darkgray; 
}
  