@import './globalCssVariables.css';

.node {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    background-color: black; 
  }

  .node.town {
    background-color: var(--town); 
  }
  
  .node.forest {
    background-color: var(--forest); 
  }
  
  .node.temple {
    background-color: var(--temple);
  }

  .node:hover {
    filter: brightness(150%);
    cursor: pointer;
  }
  
  .node-tooltip::after {
    font-size: 0.8em;
    content: attr(data-name);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  
  .node-tooltip.active::after {
    display: block;
  }

.node-tooltip.active::after {
  display: block;
}

.selectedNode {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: solid;
  border-color: red;
  position: inherit;
  align-items: center;
  justify-content: center;
}