.path {
    position: absolute;
    height: 2px; /* Set to the desired thickness of the path */
    background-color: blanchedalmond; /* Set to the desired color of the path */
}

.path:hover{
    background-color: black;
}
  